name: Auto Manage PR State

on:
  pull_request:
    types: [ opened, edited, reopened, synchronize, ready_for_review, converted_to_draft ]

permissions:
  pull-requests: write

jobs:
  manage-pr-state:
    runs-on: ubuntu-latest
    steps:
    - name: Update PR State based on Checklist
      uses: actions/github-script@v6
      with:
        script: |
          const script = require('./.github/scripts/manage-pr-state.js')
          await script({github, context, core})
